click           
Flask           
Flask-Cors      
itsdangerous    
Jinja2          
MarkupSafe      
mysql-connector 
mysql-connector-python
pip                 
python-dotenv       
Werkzeug          

