<form id="aboutINPUT">
    <label for="image">Image:</label>
    <input type="file" id="image" name="image" accept="image/*">
    
    <label for="title">Year:</label>
    <input type="date" id="year" name="year">
    
    <label for="title">Title:</label>
    <textarea id="text" name="title"></textarea>

    <label for="title">Description:</label>
    <input type="text" id="description" name="description">
    
    <label for="title">Image:</label>
    <input type="image" id="image" name="image">

    <input type="submit" value="Submit">
    <div id="portfolioMessage"></div>
</form>