<form id="serviceINPUT">
    <label for="image">Image:</label>
    <!-- <input type="file" id="image" name="image" accept="image/*"> -->
    <input type="text" id="image" name="image"placeholder="Enter the link to the exact file location"> <!-- This is a temporary solution -->
    
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">
    
    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea>
    
    <input type="submit" value="Submit">
    <div id="serviceMessage"></div>
</form>